<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/pico.min.css">
</head>
<body>
<main class="container">
    <nav class="NAVIGATION">
        <ul>
            <li><b><h1>TASK MANAGER</h1></b></li>
        </ul>
        <ul>
            <li><SPan class="buttonoption"><a href="index.php" style="text-decoration-style: none;">VIEW ALL</a></SPan></li>
            <li><span class="buttonoption"><a href="create.php">ADD NEW</a></span></li>
        </ul>
    </nav>